@import 'variables';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 27px;
  line-height: 30px;
  letter-spacing: 1px;
}

body {
  font-family: Roboto-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-white;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $color-white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4vw;
  //height: $header-height;
  background-color: $color-grey-300;
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7vw;
    height: 100%;
    gap: 7%;
  }
  &__logo-image {
    width: 50%;
    height: 50%;
  }
  &__button {
    padding: 3%;
    width: 200px;
  }
  &__button-icon {
    margin-left: 7px;
    vertical-align: middle;
    fill: $color-grey-100;
  }
}

.main {
  padding: 60px 30px;
  color: $color-grey-300;
  background-color: $color-grey-100;
  &__title {
    margin-bottom: 35px;
  }
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &__movie {
    margin-bottom: 2%;
  }
  &__movie-image {
    height: 510px;
    width: 340px;
    object-fit: cover;
    border-radius: 3%;
    box-shadow: 10px 10px 10px $color-grey-300;
    cursor: pointer;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  &__button {
    padding: 10px 20px;
    border: $border-size-base solid $color-grey-200;
    color: $color-grey-300;
    &:first-child,
    &:last-child,{
      color: $color-green;
    }
    &--active {
      color: $color-green;
      font-weight: 700;
    }
    &--disabled {
      pointer-events: none;
    }
    &--removed {
      display: none;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  color: $color-white;
}

.movie-modal {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  &__container {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(25px);
    text-shadow: 0 2px 5px $color-grey-300;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    padding: 3% 6% 2%;
    font-family: Roboto-Thin, sans-serif;
    font-size: 1.4rem;
  }
  &__header-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;
    cursor: pointer;
  }
  &__header-icon {
    padding: 2.5%;
    border: 1px solid $color-grey-200;
    border-radius: 50%;
    fill: $color-grey-200;
    transform: rotate(90deg);
    &:nth-child(2) {
      transform: rotate(-90deg);
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
  }
  &__poster {
    width: 420px;
    box-shadow: 0 0 30px 10px $color-grey-300;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
  }
  &__button {
    align-self: end;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border-width: medium;
    font-family: Roboto-Thin, sans-serif;
    color: $color-grey-100;
    text-shadow: 0 2px 5px $color-grey-300;
    border-color: $color-grey-200;
  }
  &__title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 38px;
  }
  &__details {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin-bottom: 135px;
    font-size: 1.3rem;
  }
  &__score {
    &:after {
      position: absolute;
      left: 29%;
      top: -8px;
      content: "";
      height: 45px;
      width: 1.5px;
      background-color: $color-grey-200;
    }
  }
  &__description {
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      height: 1.5px;
      width: 100%;
      background-color: $color-grey-200;
    }
    &:before {
      top: -40px;
    }
    &:after {
      left: 0;
      bottom: -40px
    }
  }
}

.favourite-movies {
  &__movie {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 50px;
  }
  &__title {
    margin-bottom: 55px;
  }
  &__top-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__button {
    padding: 0.5%;
    border-radius: 7px;
  }
}

@font-face {
  font-family: Roboto-Thin;
  src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto-Light.ttf);
}